@model Instructor


<h2>Sign up</h2>
<div class="col-lg-8  rounded border p-3">

    <form asp-action="IRegister" asp-controller="IRegister" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" type="text" class="form-control" id="username" placeholder="username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
       
        <div class="form-group">
            <label asp-for="Phone">Phone Number</label>
            <input asp-for="Phone" class="form-control" id="phone" placeholder="phone">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="text" class="form-control" id="email" placeholder="email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
       
        
        <div class="form-group ">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="Password placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <label asp-for="ConfPassword">Confirm Password</label>
            <input asp-for="ConfPassword" type="password" class="form-control" id="ConfPassword" placeholder="ConfirmPassword">
            <span asp-validation-for="ConfPassword" class="text-danger"></span>
        </div>



        <div class="row">
        <div class="form-group col-md-4">
            <label asp-for=" Level">Level</label>
            <select asp-for=" Level" class="form-control">
                    <option>  </option>
                <option>Frist</option>
                <option>Second</option>
                <option>Third</option>
                <option>Fourth</option>
                <option>Graduate</option>
            </select>
        </div>

            <div class="form-group">
                <label asp-for="Skills">Skills</label>
                <textarea asp-for="Skills"  class="form-control" id="email" placeholder="Skills"></textarea>
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientFile">image</label>
                <input type="file" asp-for="clientFile" onchange="loadFile(event)" class="form-control" />
                <img id="myImg" height="200" />
            </div>
      </div>
       <br />
    <button type="submit" class="btn btn-primary">Sign Up</button>

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var loadFile = function(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var myImg = document.getElementById('myImg');
                myImg.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}
</div>
