@model IEnumerable<Trainning__Management.Models.Materials>

<h2>Materials</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>File</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model)
        {
            <tr>
                <td>@material.MaterialName</td>
                <td>
                    @material.file_path
                   
                </td>
                <td>
                  
               <a asp-action="Download" asp-route-fileName="@material.file_path" class="btn btn-secondary btn-sm ml-2"><i class="bi bi-download"></i> Download</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="view_traning" class="btn btn-primary">Back to Trainings</a>
</div>
