@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center">
	<h1 class="display-4">Welcome</h1>
</div>
<div class="jumbotron bg-secondary">
	<h1>TMS</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Welcome to TMS</h2>
		<p>
			TMS is a system for managing the trainings 
		</p>
	</div>
	<div class="col-md-6">
		<img src="~/img/images.png" />
	</div>
</div>
